h1{
	color:#6D3A4B;

	font-size: 35px;
	padding-bottom: 5px;
}


@media (max-width: 1000px) {
    #sticky a img{
		width: 100px;
		margin-top: 40px;
		margin-left:10px;
	}

content{
	padding-left: 20px;
	padding-right: 20px;
}
}
h3{ 
	color:#6D3A4B;

	font-size: 20px;
}
content ul{
	color:#6D3A4B;

	font-size: 20px;
}

p{
	text-align: justify;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #7e8185;
}
.titulo{
	margin-top: 98px;
}
content{
	margin-bottom:20px; 
}