
content{
    margin-top: 50px;
}
table{
    text-align: left;
}
.valor{
    color:  #6D3A4B;
}


form{
    font-size: 18px;
    margin-top: 20px;
}
label{
    font-size: 17px;
}
.row{
    justify-content: center;
}
.pyz{
    display: flex;
    justify-content: space-between;
}
.pyz label:nth-child(1){
    width: 50%;
}
.pyz label:nth-child(2){
    width: 50%;
}
.pyz input{
    width: 98%;
}
.btn_enviar{
    color: #fff;
    background-color:  #6D3A4B;
    width:40%;
    margin-left: 60%;
    margin-top: 40px;
    height: 40px; 
    border:none;
    margin-bottom: 30px;
}