 
{% extends "main/base.html" %} 
{% block titulo %}Pedido{% endblock %}
{% block estilo %}
  
        {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/buy.css' %}">
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
{% endblock %}
{% block contenido %}
        {% load staticfiles %}







            <content class="row">
              	
				<div class="tab column medium-7 small-12">
				  <button class="tablinks" onclick="openTab(event, 'IniciarSession')" id='IS_Btn'>Informacion de envio</button>
				</div>

				<div id="IniciarSession" class="tabcontent column medium-7 small-12">


					<form action="" method="POST" id="card-form">
						
        {% csrf_token %}
					  <span class="card-errors"></span>
					  <div>
					    <label>
					      <span>Cardholder name</span>
					      <input size="20" data-conekta="card[name]" type="text">
					    </label>
					  </div>
					  <div>
					    <label>
					      <span>Card number</span>
					      <input size="20" data-conekta="card[number]" type="text">
					    </label>
					  </div>
					  <div>
					    <label>
					      <span>CVC</span>
					      <input size="4" data-conekta="card[cvc]" type="text">
					    </label>
					  </div>
					  <div>
					    <label>
					      <span>Expiration date (MM/YYYY)</span>
					      <input size="2" data-conekta="card[exp_month]" type="text">
					    </label>
					    <span>/</span>
					    <input size="4" data-conekta="card[exp_year]" type="text">
					  </div>
					  <button type="submit">Create token</button>
					</form>






						
						<div class="mitad">
							<span>Fecha de vencimiento</span>
							<div class="select">
								<label>
						  	Mes
						  	
		  					<select>
					          <option value="Ene">Ene</option>
					          <option value="Feb">Feb</option>
					          <option value="Mar">Mar</option>
					          <option value="Abr">Abr</option>
					          <option value="May">May</option>
					          <option value="Jun">Jun</option>
					          <option value="Jul">Jul</option>
					          <option value="Ago">Ago</option>
					          <option value="Sep">Sep</option>
					          <option value="Oct">Oct</option>
					          <option value="Nov">Nov</option>
					          <option value="Dic">Dic</option>
					        </select>
						</label>
					 	<label>
						  	Año
						  	
		  					<select>
					          <option value="2018">2018</option>
					          <option value="2019">2019</option>
					          <option value="2020">2020</option>
					          <option value="2021">2021</option>
					          <option value="2022">2022</option>
					          <option value="2023">2023</option>
					          <option value="2024">2024</option>
					          <option value="2025">2025</option>
					          <option value="2026">2026</option>
					          <option value="2027">2027</option>
					          <option value="2028">2028</option>
					        </select>
						</label>
						
				</div>





            </content>


{% endblock %}

{% block js %} 
    <script src="{% static 'js/buy.js' %}"></script>



    <script type="text/javascript">
      Conekta.setLanguage("es"); 
	  Conekta.setPublicKey('key_KJysdbf6PotS2ut2');

	  var conektaSuccessResponseHandler = function(token) {
	    var $form = $("#card-form");
	    //Add the token_id in the form
	     $form.append($('<input name="conektaTokenId" id="conektaTokenId" type="hidden">').val(token.id));
	    $form.get(0).submit(); //Submit
	  };
	  var conektaErrorResponseHandler = function(response) {
	    var $form = $("#card-form");
	    $form.find(".card-errors").text(response.message_to_purchaser);
	    $form.find("button").prop("disabled", false);
	  };

	  //jQuery generate the token on submit.
	  $(function () {
	    $("#card-form").submit(function(event) {
	      var $form = $(this);
	      // Prevents double clic
	      $form.find("button").prop("disabled", true);
	      console.log('---------------------LEGO---------------')
	      //----------------COM---------------------
	      //Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
	      return false;
	    });
	  });
	</script>

  {% endblock %}
