
{% extends "main/base.html" %} 
{% block titulo %}Contactanos{% endblock %}
{% block estilo %}
  
        {% load staticfiles %}
  		<link rel="stylesheet" type="text/css" href="{% static 'css/contact_us.css' %}">
{% endblock %} 
{% block contenido %}
        {% load staticfiles %}

	        <div  class="ban2" >
	        	{% if request.session.lang == "es" %}
                              
	        		<img  src="{% static 'img/Contactanos-banner-español.png' %}"/>
                {% else %}
                    <img  src="{% static 'img/Contact-banner.png' %}"/>
                {% endif %}
	    	</div>
        <content class="row align-justify">

	        <h2>
	        	Anastasia Unique Like You
	        </h2>
	        <p>
	        	Like our stuff? You can customize your own Anastasia bag, just as unique as you
				are. Choose the model, retail colors and also it will have it’s own signature name
				inspired in you. Be unique be Anastasia.
				We love to be inspired by women across the world, you can order your own
				Anastasia bag and it will be carefully customized for you. Choose color, size, type
				and it will be created just as you wish, we will give each piece it’s own unique
				signature name.
			</p>
        	<div class="text_cont colum small-12 medium-5">
	        	<form>
	        		<label>
	        			Nombre:
	        			<input type="text" name="name" id="name">
	        		</label>
	        		<label>
	        			Email:
	        			<input type="text" name="email" id="email">
	        		</label>
	        		<label>
	        			<textarea rows="4" cols="50" name="comment" id="content">
							
						</textarea>
	        		</label>
	        		<label>
	        			<button  class="send_email">Enviar</button>
	        		</label>
	        	</form>
	        	
        	</div>
        	<div  class="colum small-12 medium-6 map">
        		<img src="https://i.stack.imgur.com/dApg7.png" >

        	</div>
        	
        </content>


{% endblock %}

{% block js %} 
	<script src="{% static 'js/contact_us.js' %}"></script>

{% endblock %}
