
{% extends "main/base.html" %} 
{% block titulo %}Inspiracion{% endblock %}
{% block estilo %}
  
        {% load staticfiles %}
  		<link rel="stylesheet" type="text/css" href="{% static 'css/inspiracion.css' %}">
{% endblock %}
{% block contenido %}
        {% load staticfiles %}

        <content class="row align-justify">

        	<h1 class="colum medium-12 titulo">
        	Big ideas start with small things.
        	</h1>
        	<div class="text_cont colum small-12 medium-8">
	        	<p>
	        		Growing up in a family who runs a fabric store and being constantly involved in
					textile industry led María del Mar Jaramillo, CEO and founder of Anastasia, to
					develop a deep passion for fashion, textures, fabrics, sewing and handmade
					creations. After many years observing how most of textile businesses threw
					away tons of fabric remnants considering them garbage, María questioned
					herself and began to create a way to use efficiently those scraps to make unique
					pieces and at the same time reducing the environmental impact of textile
					residues in the world.
	        	</p>

	        	<p>
	        		She came up with the idea of sewing several remnants together to make bags;
					using all the techniques her grandma taught her when she was younger, thus the
					first bag of Anastasia was born. Months later, the first piece ever created for
					Anastasia’s brand was sent to Bags Across The World exposition (BAG) at UC
					Davis at Davis - California, E.E.U.U. as one of the winners chosen for the
					exhibition, created by Ann Savageau back in 2008, that focuses and exalts
					sustainable design around the world.
	        	</p>
	        	
        	</div>
        	<div  class="colum small-12 medium-3 texto_cool">
        		<p>"</p>
        		social work that is empowering women and helping to shape the communities for the better

        	</div>
        	
	        <p>
	        	Motivated by the success of her first bag design, María left her former job as
				accountant manager to dedicate herself full time to create and consolidate
				Anastasia’s brand. Hand in hand with Julita Barreto and Frank Kayanet investors
				that believed in Anastasia’s impact in Shark Tank Colombia’s show, they made
				Anastasia a reality.
			</p>
			<p>
				They decided to work with single mothers of vulnerable zones of the city,
				empowering them to being able to earn a living without leaving their kids alone
				at home, making Anastasia not only a brand that promotes sustainable design
				with uniqueness, but also is a social work that is empowering women and
				helping to shape the communities for the better.
	        </p>

	        <h3>Working for better</h3>
	        <p>
	        	
				Gabrielle Bonheur, or we should better say, Coco Chanel was (and still is) one of the most iconic fashion designers in history. She made a revolution in the way females dressed, by releasing them from corsets and opulent unpractical hats, making clothes more wide and modern. Back then black color was restricted only for servants; Coco redefined its connotation and made it a symbol of elegance and luxury. 
	        </p>

	        <img  src="https://lh3.google.com/u/0/d/1bd6j-syc3mLgS_Jp60jQsCGNhFgeE-VU=w1366-h611-iv1" class="ban2" />

	        <div class="orbit hide-for-small-only" role="region" aria-label="Favorite Space Pictures" data-orbit>
			  <div class="orbit-wrapper">
			    <div class="orbit-controls">
			      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
			    </div>
			    <ul class="orbit-container">
			      <li class="is-active orbit-slide">
			        <figure class="orbit-figure">
			          
			          <div class=" slide_3">
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1" class="image_slide" style="width: 30%; margin: 1.3%;" />

							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKQ0VJM0oyTHlZSjQ=w1366-h611-iv1"  class="image_slide" style="width: 30%; margin: 1.3%;"/>

							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKeHIzMU1qT2dmcUk=w1366-h611-iv1"  class="image_slide" style="width: 30%; margin: 1.3%;"/>
			          </div>
			        </figure>
			      </li>
			      <li class="orbit-slide">
			        <figure class="orbit-figure">
			          <div class=" slide_3">
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKZnNZai04Qkp5cEE=w1366-h611-iv1" class="image_slide" style="width: 30%; margin: 1.3%;" />

							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKN2VxNGtQT19GLW8=w1366-h611-iv1"  class="image_slide" style="width: 30%; margin: 1.3%;"/>

							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKOXZQY3ZTZTN0eXM=w1366-h611-iv1"  class="image_slide" style="width: 30%; margin: 1.3%;"/>
			          </div>
			        </figure>
			      </li>
			    </ul>
			  </div>
			</div>


			<div class="orbit show-for-small-only" role="region" aria-label="Favorite Space Pictures" data-orbit>
			  <div class="orbit-wrapper">
			    <div class="orbit-controls">
			      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
			    </div>
			    <ul class="orbit-container">
			      <li class="is-active orbit-slide">
			        <figure class="orbit-figure">
			          
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1"  />

			        </figure>
			      </li>
			      <li class="orbit-slide">
			        <figure class="orbit-figure">
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKZnNZai04Qkp5cEE=w1366-h611-iv1" />

			        </figure>
			      </li>
			      <li class="orbit-slide">
			        <figure class="orbit-figure">
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKN2VxNGtQT19GLW8=w1366-h611-iv1" />

			        </figure>
			      </li>
			      <li class="orbit-slide">
			        <figure class="orbit-figure">
			          	
							<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKOXZQY3ZTZTN0eXM=w1366-h611-iv1" />
			          
			        </figure>
			      </li>
			    </ul>
			  </div>
			</div>



			<h3>Working for better</h3>
	        <p>
	        	
				Gabrielle Bonheur, or we should better say, Coco Chanel was (and still is) one of the most iconic fashion designers in history. She made a revolution in the way females dressed, by releasing them from corsets and opulent unpractical hats, making clothes more wide and modern. Back then black color was restricted only for servants; Coco redefined its connotation and made it a symbol of elegance and luxury. 
	        </p>

	        <div class="aliados_slide">
	        	<div>
	        		<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1"/>
	        	</div>
	        	<div>
	        		<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1"/>
	        	</div>
	        	<div>
	        		<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1"/>
	        	</div>
	        	<div>
	        		<img  src="https://lh3.google.com/u/0/d/0B7yX475xq4sKcS1oSVdQZ2NXYTg=w1366-h611-iv1"/>
	        	</div>
	        </div>
	        

	        <h3>Press</h3>
	        <p>
	        	
				Gabrielle Bonheur, or we should better say, Coco Chanel was (and still is) one of the most iconic fashion designers in history. She made a revolution in the way females dressed, by releasing them from corsets and opulent unpractical hats, making clothes more wide and modern. Back then black color was restricted only for servants; Coco redefined its connotation and made it a symbol of elegance and luxury. 
	        </p>

	        <div class="prensa_slide">
	        	<div>
	        		<img  src="https://static.platzi.com/media/press/portafolio.png"/>
	        		<p>ution in the way females dressed, by releasing them from corsets and opulent unpractical hats</p>
	        	</div>
	        	<div>
	        		<img  src="https://static.platzi.com/media/press/portafolio.png"/>
	        		<p>ution in the way females dressed, by releasing them from corsets and opulent unpractical hats</p>
	        	</div>
	        	<div>
	        		<img  src="https://static.platzi.com/media/press/portafolio.png"/>
	        		<p>ution in the way females dressed, by releasing them from corsets and opulent unpractical hats</p>
	        	</div>
	        	<div>
	        		<img  src="https://static.platzi.com/media/press/portafolio.png"/>
	        		<p>ution in the way females dressed, by releasing them from corsets and opulent unpractical hats</p>
	        	</div>
	        </div>
	        
			
        </content>


{% endblock %}

{% block js %} 

{% endblock %}
