
{% extends "main/base.html" %} 
{% block titulo %}Inspiracion{% endblock %}
{% block estilo %}
  
        {% load staticfiles %}
  		<link rel="stylesheet" type="text/css" href="{% static 'css/inspiracion.css' %}">
{% endblock %}
{% block contenido %}
        {% load staticfiles %}

        <content class="row align-justify">

        	<h1 class="colum medium-12 titulo">
        	Big ideas start with small things.
        	</h1>
        	<div class="text_cont colum small-12 medium-5">
	        	<p>
	        		Growing up in a family who runs a fabric store and being constantly involved in
					textile industry led María del Mar Jaramillo, CEO and founder of Anastasia, to
					develop a deep passion for fashion, textures, fabrics, sewing and handmade
					creations. After many years observing how most of textile businesses threw
					away tons of fabric remnants considering them garbage, María questioned
					herself and began to create a way to use efficiently those scraps to make unique
					pieces and at the same time reducing the environmental impact of textile
					residues in the world.
	        	</p>
	        	
        	</div>
        	<div  class="colum small-12 medium-6">
        		<img src="https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/10407205_1561732120749164_7360027738203232364_n.jpg?_nc_cat=0&oh=58487a4d5afa51d7b8815be2b027a561&oe=5B6A8231" >

        	</div>
        	<p>
	        		She came up with the idea of sewing several remnants together to make bags;
					using all the techniques her grandma taught her when she was younger, thus the
					first bag of Anastasia was born. Months later, the first piece ever created for
					Anastasia’s brand was sent to Bags Across The World exposition (BAG) at UC
					Davis at Davis - California, E.E.U.U. as one of the winners chosen for the
					exhibition, created by Ann Savageau back in 2008, that focuses and exalts
					sustainable design around the world.
	        </p>
	        <p>
	        	Motivated by the success of her first bag design, María left her former job as
				accountant manager to dedicate herself full time to create and consolidate
				Anastasia’s brand. Hand in hand with Julita Barreto and Frank Kayanet investors
				that believed in Anastasia’s impact in Shark Tank Colombia’s show, they made
				Anastasia a reality.
			</p>
			<p>
				They decided to work with single mothers of vulnerable zones of the city,
				empowering them to being able to earn a living without leaving their kids alone
				at home, making Anastasia not only a brand that promotes sustainable design
				with uniqueness, but also is a social work that is empowering women and
				helping to shape the communities for the better.
	        </p>

	        <h1>
	        	Anastasia Unique Like You
	        </h1>
	        <p>
	        	Like our stuff? You can customize your own Anastasia bag, just as unique as you
				are. Choose the model, retail colors and also it will have it’s own signature name
				inspired in you. Be unique be Anastasia.
				We love to be inspired by women across the world, you can order your own
				Anastasia bag and it will be carefully customized for you. Choose color, size, type
				and it will be created just as you wish, we will give each piece it’s own unique
				signature name.
			</p>
			<h3>
				Malala Mingora / Malala Dunes / Marble Malala – Antonella Beige:
			</h3>
			<p>
				Inspired by the youngest women (and the youngest person) to have ever
				received the Nobel Peace Prize, Malala Yousafzai, and her constantly activities to
				promote children rights to education earned her respect around the globe. As the
				United Nations secretary – general Ban–ki Moon said &quot;a brave and gentle
				advocate of peace who through the simple act of going to school became a global
				teacher.” The earthy tone of this clutch symbolizes the resilience and
				perseverance of Malala ideals.
			</p>
			<ul>
				<li>From Frida to Leo / Abi Sol</li>
				<li>Bonito and Frida/ Abi Rio</li>
				<li>Frida’s Flaming Flower / Abi – Fresia</li>
				<li>Bittersweet Frida / Abi citric</li>
				<li>Two Fridas / Abi Silvestre</li>
				<li>Frida’s Gallant Turquoise / Abi Blueberry</li>
				<li>Frida’s immigrant green / Abi Rio</li>
			</ul>
			<p>
				One of the most well known Mexican painters in the world, Frida Kahlo, was
				born in Coyoacan – Mexico in 1907 and her culture and unconventional way of
				living were deep engraved in all of her creations, most of them were self
				portraits. In spite of adversities and her frail health, Frida outshined as a female
				artist and made great friends in the artistic world like André Breton, Pablo
				Picasso and Marcel Duchamp. These collections of keychains are inspired in the
				hues of Kahlo paintings, full of emotions and contrasts.
			</p>
			<h3>
				Iridescent Agatha / Ada Iris
			</h3>
			<p>
				An ode to the colorful Spanish fashion designer Agatha Ruiz de la Prada . Even
				though she’s from a wealthy family, that didn’t stopped her from pursuing her
				financial independency and creating her own business. She’s also an activist who
				constantly supports and promotes arts and culture in Spain. Her style defined by
				bright colors and happy feelings made her iconic.
			</p>
			<h3>
				Coco Bonheur / La petite Coco / Little Black Clutch / Mademoiselle
				Gabrielle / Noir elegance / Adriadna Black
			</h3>
			<p>
				Gabrielle Bonheur, or we should better say, Coco Chanel was (and still is) one of
				the most iconic fashion designers in history. She made a revolution in the way
				females dressed, by releasing them from corsets and opulent unpractical hats,
				making clothes more wide and modern. Back then black color was restricted
				only for servants; Coco redefined its connotation and made it a symbol of
				elegance and luxury.
			</p>
			<h3>
				Sassy Brigitte / Zephyr Bardot / Aline Cream (Brigitte Bardot)

			</h3>
			<p>
				The ever cheerful and magnetic Brigitte Bardot is our muse this time.
				Outstanding actress, singer, model and sexual-beauty icon from 50’s and 60’s
				with more than 50 films produced in her entire career which she began at the
				young age of 18 and retired from it at the beginning of her 40’s to dedicate her
				life to awareness and promote Animal Rights, founding in 1976, Brigitte Bardot’s
				Foundation. Wild and free yet feminine are some of Brigitte’s virtues this
				necklace embraces.
			</p>
			<ul>
				<li>Amelia Chameleonic - / Allegra Camouflage</li>
				<li>Amelia Hibiscus Paradise /Allegra Fresia</li>
				<li>Amelia the Lady Lindy / Allegra Muffin</li>
				<li>Amelia Transatlantic Hue / Allegra Zuli</li>
				<li>Amelia’s Lockheed Electra / Allegra Neon</li>
			</ul>
			<p>
				Ambitious and unconventional are some of the words to describe Amelia
				Earhart. Across her pilot career she always pursued new goals and set her mind
				to break records, higher and farther, she believed there wasn’t limits for women
				to conquer. Being the first woman to fly and cross the Atlantic Ocean alone, one
				of the most notorious awards given to her were the National Geographic Society
				Medal and Distinguished Flying Cross bestowed by the E.E.U.U Congress.
				We cherish intrepid ladies; adventurers who aren’t afraid to go beyond their
				limits were no one else has been before, always conquering her fears and
				shinning through adversities.
			</p>
			<ul>
				<li>Marie’s Luminescence / Antonella Blues</li>
				<li>Marie’s Radioactive Ores / Antonella Antiqua</li>
				<li>Marie’s Garnet/ Antonella Valentino</li>
				<li>Marie’s Passionate Gamut/ Antonella Passione</li>
				<li>Marie’s Titanium Quartz / Antonella Venecia</li>
				<li>Marie’s Ashen Ore / Antonella Urban</li>
			</ul>
			<p>
				Marie Curie was the first person to ever receive two Nobel Prizes in two different
				disciplines, physics and chemistry. She obtained her PhD in physics for her
				studies about radioactive substances in 1903 and later in the same year received
				her first Nobel Price shared it Henri Becquerel and Pierre Curie, later in 1911
				won her second Nobel in chemistry for discovering two new chemistry elements,
				Radium and Polonium. She founded the Institute Curie; a non-profit organization
				which purpose was to promote and develop researches in medicine, biology and
				biophysics, up until now the centre still is pioneer and worldwide leader in
				science and research.
			</p>
			<h3>
				Isabel Spirit House/ Amelia Hor
				Isabel Underwater Island / Amelia Mar
			</h3>
			<p>
				Member of the American Academy of Arts and Letters since 2004 this Chilean is
				one of the most successful Latin-American female writers (she also is a
				Journalist) Her writing style is carefree and not premeditated, often starts to
				write her novels based on a specific moment-place or emotional valuable piece,
				like a personal letter. Along her numerous best sellers novels and other prizes
				she had been recognized, we can say the Honoris Causa Prize given by Università
				di Trento – Italia for modern euroamerican literature and language; Hans
				Christian Andersen Literature Prize; Chilean National Literature Prize and PhD
				Honoris Causa bestowed by Santiago de Chile University are the most important
				ones.
			</p>
			<p>
				This Molesquine are dedicated to Isabel’s unquenchable creativity and unique
				ability to empathize and translate feelings to narrations.
			</p>
			<h3>
				Scher daedalus / Anabella Carnaval (Paula Scher)
			</h3>
			<p>
				Paula Scher, first female principal at Pentagram Design Studio, it could be said
				it’s the most prestigious enterprise in design business currently. There’s no brief
				description for her renowned works that includes multidisciplinary projects in
				arts, design, architecture, branding and education. Maybe her most well know
				work is the colorful typography maps of the world or the brand design of Citi
				Bank which she done it on a napkin.
			</p>
			<p>
				Inspired by the versatility this bag is as complex as Paula’s typography maps and
				has uncountable colors as her talents and masterpieces.
			</p>
			<h3>
				Mister Bismarck / Amy Cat
				Persian Nightingale / Amy Brit Cat
			</h3>
			<p>
				British pioneer of modern nursing system, educator and statistician was a
				devoted animal lover; cats in particular were object of her interest, owned
				almost 60 cats during her lifetime. Aside of the cat facts, Nightingale worked very
				hard to improve the medical treatment for injured soldiers in wars, especially in
				the war of Crimea, where she volunteered and aided to have and create better
				sanitary conditions. She wrote the first textbook on nursing and created a school
				for that very purpose.
			</p>
			<h3>
				Charming Nancy / Amanda Dawn
			</h3>
			<p>
				Inherited the artistic and prodigious voice like her father, Nancy Sinatra was a
				popular singer of the later 60’s famous for her song “These boots are made for
				walking”, “Bang Bang (my baby just shot me down)” “You only live twice” and
				“Sugar Town”. Six studio works and some participation in television and movies
				earned her an icon figure of the beauty and talent of 60’s
			</p>
			<h3>
				Joplin’s grace / Ariel Arena
			</h3>
			<p>
				Even if her lifetime was brief like a shooting star, Janis had a gifted voice and
				talent for music. Member of bands such as Big brother &amp; the holding Company
				and The Kozmic Blues Band, the later one with whom she performed on the
				second day of the historical concert Woodstock in 1969. Symbol of
				rebelliousness and the hippie movement it took only 9 years of musician career
				to make her a legend.
			</p>
        </content>


{% endblock %}

{% block js %} 

{% endblock %}
